<div class="create_form_input_answer">
  <%= f.input :option, label: false %>
</div>

  <%= f.label "Correct Answer?" do %>
    <%= f.check_box :correct, {}, "true", "false" %> 
    Correct?
    <!-- <span style="padding-left: 10px"></span> -->
  <% end %>


<!-- <div class="remove_answer"> -->
  <!-- <%= link_to_remove_association "Remove", f, class: "button destroy tiny" %> -->
<!-- </div> -->